[is="sidenav-block-list"] {
	display: flex;
	flex: 1;
}

[is="sidenav-block-item"] {
	flex: 0;
	opacity: 0;
	white-space: nowrap;
	overflow: hidden;
	overflow-y: scroll;
	transition: all 0.25s ease-in-out;
}

[is="sidenav-block-item"].active {
	flex: 1;
	opacity: 1;
}
